{{>partials/header}}

		<main class="container"> 
			<div class="album-grid"> 
			{{#list}}
			<article class="album-card"> 
				<img src="images/{{ image }}" alt="capa do album" class="album-cover" > 
				<div class="album-content"> 
					<span class="album-genre">{{ type }}</span> 
					<h3> {{ album }} </h3> 
					<p class="artist"> {{ name }} </p> 
					<div class="album-info"> 
						<span>{{ year }}</span> 
						<span>★ {{ rating }}</span> 
					</div> 
					<p class="favorite-track"> Faixa favorita: {{ favTrack }} </p> 
				</div> 
			</article> 
			{{/list}}
		</div> 
	</main> 

{{^list}}
<div class="no-list">
	<h2>Nenhuma informação encontrada.</h2>
</div>
{{/list}}

{{>partials/footer}}