{{>partials/header}}

		<main class="container"> 
			<div class="album-grid"> 
			<article class="album-card"> 
				<img src="https://picsum.photos/400/400?random=2" alt="" class="album-cover" > 
				<div class="album-content"> 
					<span class="album-genre"> French Pop </span> 
					<h3> Le Village </h3> 
					<p class="artist"> Pomme </p> 
					<div class="album-info"> 
						<span>2025</span> 
						<span>★ 9.5</span> 
					</div> 
					<p class="favorite-track"> Faixa favorita: La Lune </p> 
				</div> 
			</article> 
		</div> 
	</main> 

{{>partials/footer}}